@page "/product/{productid:int}/price"

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

@if (_loading)
{
    <_Loading />
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10  mb-3">
                    <h1 class="card-title">Product: @_productDto.Name</h1>
                    <h2>Category: @_productDto.Category!.Name</h2>
                    <p class="card-text">Description:</p>
                    <p class="card-text">@_productDto.Description</p>
                </div>
                <div class="col-md-2">
                    <img src="@_productDto.ImageUrl" class="card-img-top" alt="@_productDto.Name">
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ProductId { get; set; }

    private string _title = "Price";
    private bool _loading = true;

    private ProductDto _productDto = new();
    private IEnumerable<ProductPriceDto> _productPriceDtos = new List<ProductPriceDto>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _loading = true;

        if (firstRender)
        {
            _productDto = await _productRepository.Get(ProductId);
            _productPriceDtos = await _productPriceRepository.GetForProductId(ProductId);
        }

        _loading = false;
        StateHasChanged();

    }
}
