@page "/swal"
@inject IJSRuntime _js

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

<div>
    <button class="btn btn-success m-1" @onclick="@(async () => await x("success", "Success"))">Success</button>
    <button class="btn btn-warning m-1" @onclick="@(async () => await x("warning", "Warning"))">warning</button>
    <button class="btn btn-danger m-1" @onclick="@(async () => await x("error", "Error"))">error</button>
</div>

@code {
    private string _title = "Sweet Alert";

    private async Task x(string type, string message)
    {
        if (type == "success")
        {
            await _js.SwalSuccess(message);
        }
        else if (type == "warning")
        {
            await _js.SwalWarning(message);
        }
        else if (type == "error")
        {
            await _js.SwalError(message);
        }

        // await _js.InvokeVoidAsync("showSwal", type, message);
    }
}
